*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 1100px;
  max-width: 1440px;
  margin: 0;
  margin: auto;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}
