.header {
  display: flex;
  justify-content: space-between;
  padding: 92px 49px 91px;
  color: #000;
  font-size: 18px;
}

.header__menu {
  display: flex;
  align-items: center;
  padding-left: 2px;
}

.header__link-list {
  display: flex;
  gap: 32px;
  padding-bottom: 2px;
  list-style: circle;
}

.header__link-list-item-main {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

.header__link-list-item {
  text-decoration: none;
}

.header__link {
  border-bottom: #000 solid 1px;
  text-decoration: none;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  padding-right: 149px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  max-width: 241px;
  padding-top: 6px;
  padding-right: 4px;
  font-style: normal;
}

.header__address-link {
  display: inline-block;
  text-decoration: none;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.cover {
  position: relative;
  width: 100%;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgb(0 0 0 /0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 0;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  display: block;
  line-height: 100%;
  text-align: center;
}

.aligned-text_right {
  display: block;
  line-height: 100%;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.title-text-letter-spacing {
  letter-spacing: 60px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  gap: 81px;
  width: 100%;
  padding: 135px 50px 50px;
}

.cover__description-text {
  align-self: flex-end;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  display: block;
  border: solid #fff 1px;
  padding: 12px 32px;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  padding: 180px 50px 181px;
}

.lots-title {
  margin: 0px 0px 27px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots-list {
  display: flex;
  gap: 25px;
}

.lots-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
  color: #fff;
  background-size: cover;
}

.lots-list-link {
  text-decoration-line: none;
}

.lots-article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  background-position: center;
}

.lots-article-backgound-film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots-article-backgound-book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots-article-backgound-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots-article-title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.lots-article-text {
  position: relative;
  z-index: 1;
}

.lots-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 0 50px;
}

.about__logo-column {
  display: grid;
  grid-template-columns: 95px 240px 95px;
  grid-template-rows: 240px;
}

.about__logo-position {
  display: flex;
  grid-column: 2/3;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 25px;
}

.about__title {
  padding-top: 100px;
  padding-bottom: 74px;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 181px 50px 90px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  max-width: 241px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
}

.footer__address-link {
  display: inline-block;
  text-decoration: none;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.footer__menu {
  display: flex;
}

.footer__link-list {
  list-style: none;
}

.footer__link {
  display: block;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  text-decoration: none;
}

.footer__link-no-active {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.footer__socials {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__socials-icon {
  max-width: 48px;
}
